
body {
    width: 50%;
    margin: auto;
}

header {
    padding: 10px;
    position: relative;
}

#top-left {
    width: 100%;
}

header > img {
    height: 75px;
}

header #text {
    display: inline-block;

}

#blog-name {
    font-size: 40px;
    margin: 0;
}

#header-icons {
    position: absolute;
    display: inline-block;
    width: max-content;
    top: 50px;
    right: 0;
}

#grey-bar {
    width: 100%;
    background-color: lightgrey;
    height: 20px;
}

#choco-pizza-img {
    width: 100%;
}

#block-instructions > p {
    font-size: 18px;
    text-indent: 2em;
}

#ingredients-list {
    background-image: url('assets/list-bg.png');
    padding: 10px;
    
}

#ingredients-list > div {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;

}

#ingredients-list p {
    font-size: 18px;
    margin-bottom: 5px;
}

.strikethrough {
    text-decoration: line-through;
}