
body {
    width: 50%;
    margin: auto;
}

header {
    padding: 10px;
    position: relative;
}

#top-left {
    width: 100%;
}

header > img {
    height: 75px;
}

header #text {
    display: inline-block;

}

#blog-name {
    font-size: 40px;
    margin: 0;
}

#header-icons {
    position: absolute;
    display: inline-block;
    width: max-content;
    top: 50px;
    right: 0;
}

#grey-bar {
    width: 100%;
    background-color: lightgrey;
    height: 20px;
}

#choco-pizza-img {
    width: 100%;
}

#block-instructions > p {
    font-size: 18px;
    text-indent: 2em;
}

#ingredients-list {
    background-image: url('assets/list-bg.png');
    padding: 10px;
    
}

#ingredients-list > div {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;

}

#ingredients-list p {
    font-size: 22px;
    margin: 0 0 4px 0;
}

.strikethrough {
    text-decoration: line-through;
}

#contact-info > * {
    display: inline-block;
}

#contact-info #name {
    font-weight: 700;
    font-size: 20px;
}

#contact-info button {
    background-color: red;
    color: white;
    padding: 15px 30px;
    font-size: 15px;
    vertical-align: top;
}

footer {
    text-align: center;
}

